[submodule "puppet/modules/tor"]
	path = puppet/modules/tor
	url = https://leap.se/git/puppet_tor
[submodule "puppet/modules/stunnel"]
	path = puppet/modules/stunnel
	url = https://leap.se/git/puppet_stunnel
[submodule "puppet/modules/haproxy"]
	path = puppet/modules/haproxy
	url = https://leap.se/git/puppet_haproxy
[submodule "puppet/modules/squid_deb_proxy"]
	path = puppet/modules/squid_deb_proxy
	url = https://leap.se/git/puppet_squid_deb_proxy
[submodule "puppet/modules/postfix"]
	path = puppet/modules/postfix
	url = https://leap.se/git/puppet_postfix
[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://leap.se/git/puppet_vcsrepo
[submodule "puppet/modules/rsyslog"]
	path = puppet/modules/rsyslog
	url = https://leap.se/git/puppet_rsyslog
[submodule "puppet/modules/backupninja"]
	path = puppet/modules/backupninja
	url = https://leap.se/git/puppet_backupninja
[submodule "puppet/modules/sysctl"]
	path = puppet/modules/sysctl
	url = https://leap.se/git/puppet_sysctl
[submodule "puppet/modules/check_mk"]
	path = puppet/modules/check_mk
	url = https://leap.se/git/puppet_check_mk
[submodule "puppet/modules/systemd"]
	path = puppet/modules/systemd
	url = https://leap.se/git/puppet_systemd
